@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #4CAF50;
  --color-secondary: #8BC34A;
  --color-accent: #D7CCC8;
  --color-dark: #3E3E3E;
  --color-light: #FAFAFA;
  --color-error: #E53935;
  --color-success: #43A047;
}

@layer base {
  :root {
    --background: var(--color-light);
    --foreground: var(--color-dark);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #1E1E1E;
      --foreground: #FAFAFA;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
